{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
    <h1>Новости</h1>
{% endblock title %}

{% block content %}
   <h3>{{ time_now|date:'M d Y' }}</h3>
   <hr>
   {% if news %}
       <table>
           <tr>
               <td><h4>Название</h4></td>
               <td><h4>Описание</h4></td>
               <td><h4>Автор</h4></td>
               <td><h4>Дата создания</h4></td>
           </tr>

           {% for post in news %}
           <tr>
               <td>{{ post.title|censor }}</td>
               <td>{{ post.text|censor }}</td>
               <td>{{ post.author}}</td>
               <td>{{ post.date }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}